.navbar {
    width: 100%;
    padding: 1rem 2rem;
    background-color: rgba(26, 19, 47, 0.7);
    backdrop-filter: blur(10px);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(162, 89, 255, 0.2);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navbar-brand {
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar-brand:hover {
    color: #A259FF;
}

.navbar-links {
    display: flex;
    gap: 1.5rem;
}

.navbar-link {
    color: #c0c0c0;
    text-decoration: none;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: color 0.3s, border-color 0.3s;
}

.navbar-link:hover {
    color: #fff;
}

.navbar-link.active {
    color: #A259FF;
    border-bottom-color: #A259FF;
}

.navbar-logout {
    padding: 8px 16px;
    border: 1px solid #A259FF;
    border-radius: 6px;
    background-color: transparent;
    color: #A259FF;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}

.navbar-logout:hover {
    background-color: #A259FF;
    color: #fff;
}